form {
  margin: 25px 0;
}

p {
  margin: 0;
}

input {
  width: 100%;
  margin: 5px 0px;
}

.selectors {
  color: black;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 10px
}

.methods {
  font-size: 25px;
  padding: 5px 5px;
  margin-right: 20px;
}